body {

    background-image: url("pink_background.jpg");
    background-attachment: scroll;
  
    color: #291c29;
    font-family: 'Nunito', sans-serif;
  
  
    border: 3px solid #471e52;
    border-radius: 3px;
    margin: auto;
    background-color: rgb(248, 223, 227);
  
  
  }

img
  {
      border: 0;
      vertical-align: middle;
  }
  
.bg
  {
      position: fixed;
      width: 100%;
      z-index: 0;
  }

 h1 {


    color: rgb(58, 20, 53);
    font-family: 'Nunito', sans-serif;
}

p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1e0a38;
    

}