body {
    margin: 0;

    background-image: url("pink_background.jpg");
    background-attachment: scroll;
  
    color: #291c29;
    font-family: 'Nunito', sans-serif;
  

  }

  

img
  {
      border: 0;
      vertical-align: middle;
      opacity: 0.9;
  }

.tab-bar
  {
      position: sticky;
      top: 0;
      width: 110%;
      height: 110%;
      z-index: 2;
  }

  
.bg
  {
      position: fixed;
      opacity: 13%;
      width: 100%;
      z-index: 0;
  }

 h1 {
    color: rgb(26, 4, 54);
    font-family: 'Nunito', sans-serif;
}

.title {
    margin: auto;
    margin-top: 5%;
    color: rgb(59, 3, 43);
    font-family: cursive;
    font-size: 300%;
    text-align: center;
}

p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #461125;
    font-size: large;
    
    

}

a {
    font-family:fantasy;
    color:rgb(110, 37, 158)
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #461125;
  font-size: large;
  margin: 10px 0;
}

.borders
{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
    border: 3px solid #46334e;
    padding: 30px;
    border-radius: 8px;

}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
    margin: 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

  .button
  {
    background-color: rgb(187, 133, 163);
    color: #3f0e55;
    font-style: italic;
    font-size: 14px;
    border-radius: 8px;
  }

  .button:hover {
    background-color: #502b47;
    color: white;
  }