body {

    margin: 3;

    background-image: url("pink_background.jpg");
    background-attachment: scroll;
  
    color: #291c29;
    font-family: 'Nunito', sans-serif;
  

    background-color: rgb(248, 232, 247);
  
  
  }

img
  {
      border: 0;
      vertical-align: middle;
      opacity: 0.2;
  }
  
.bg
  {
      position: fixed;
      width: 100%;
      z-index: 0;
  }

 h1 {


    color: rgb(26, 4, 54);
    font-family: 'Nunito', sans-serif;
}

p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #461125;
    
    

}

a {
    font-family:fantasy;
    color:rgb(110, 37, 158)
}

.borders
{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
    border: 3px solid #3f0e55;
    padding: 30px;
    border-radius: 8px;

}