body {
  margin: 0;
}

.tab-bar {
  position: sticky;
  top: 0;
  width: 110%;
  height: 110%;
  z-index: 2;
  background-color: #932962;
  padding: 2%;
}

.button {
  background-color: rgb(187, 133, 163);
  color: #3f0e55;
  font-size: 18px;
}

.button:hover {
    background-color: #502b47;
    color: white;
  }
  
 h1 {
    color: #464444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.title {
    margin: auto;
    margin-top: 10%;
    color: #932962;
    font-size: 300%;
    text-align: center;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: #464444;
    font-size: large;
}


li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #464444;
  font-size: large;
  margin: 10px 0;
}

.borders
{
    margin: 5%;
    border: 3px solid #575555;
    padding: 30px;
    border-radius: 6px;
    border-width: 4px;
    z-index: 1;
    
}