body {
  margin: 0;
  background-color: #f0f0f0;
}

.tab-bar {
  top: 0;
  height: 110%;
  background-color: #932962;
  padding: 1%;
}

a {
  color: rgb(250, 198, 247);
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
  color:rgb(245, 229, 247)
}


a:active { 
  text-decoration: none; 
}
  
h1 {
  margin-top: 5%;
  margin-left: 5%;
  color: #932962;
}

h2 {
  color: #932962;
}

.Tab {
  margin-left: 5%;
}

.title {
  margin: auto;
  margin-top: 7%;
  margin-bottom: 5%;
  color: #932962;
  font-size: 300%;
  text-align: center;
  width: 22ch;
  animation: typing 2s steps(22), effect .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  }

@keyframes typing {
  from { width: 0 }
}
        
@keyframes effect {
  50% { border-color: transparent }
}

p {
  line-height: 1.6;
  color: #4a4a4a;
  font-size: large;
}

.borders
{
  margin: 5%;
  border: 3px solid #932962;
  padding: 30px;
  border-radius: 10px;
  border-width: 4px;
  z-index: 1;    
  background-color: #ffffff;
}

.elem {
  margin-bottom: 3%;
}

.horizontal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

button {
  background-color: #d0a2ba;
  color: #000000;
  border: 2px solid #d0a2ba;
  border-radius: 9px;

}

button:hover {
  background-color: #932962;
  border-color: #932962;
  color: #f8f8f8;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}